/2. Decision Trees/startercode.0/
*.idea/
*.pyc
/4. Classification/hubspot_coding (1).py
/4. Classification/hubspot_coding_challenge.py
/4. Classification/hubspot_coding_challenge.zip
binary.out
multiclass.out
example*.py